<mat-nav-list>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bx-video-recording'></i>
      <span class="logo_name">MSW</span>
    </div>
    <ul class="nav-links">
      <li>
        <a [routerLink]="['/slider-spots']">
          <i class='bx bx-carousel'></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/slider-spots']">Return to the slider</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/favorites']">
          <i class='bx bx-photo-album' ></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/favorites']">Favorites</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/claims']">
          <i class='bx bx-message-edit'></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/claims']">Edit Claim</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/map-plane']">
          <i class='bx bxs-plane-take-off'></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/map-plane']">Planes</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/hotels']">
          <i class='bx bx-hotel'></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/hotels']">Hotels Listening</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/chart-top-spot']">
          <i class='bx bx-like'></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/chart-top-spot']">Chart Top Spots</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/chart-temp-daily']">
          <i class='bx bxs-bar-chart-alt-2' ></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/chart-temp-daily']">Chart Daily Temperature</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/chart-cup-humidity']">
          <i class='bx bx-coffee' ></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/chart-cup-humidity']">Chart Cup Humidity</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/map-weather']">
          <i class='bx bx-map-pin' ></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/map-weather']">Map Weather</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/jauge']">
          <i class='bx bx-tachometer' ></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/jauge']">Jauge</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/admin-users']" >
          <i class='bx bxs-user-detail'></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/admin-users']">Admin-Users</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/admin-claims']">
          <i class='bx bx-message-alt-error'></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/admin-claims']">Admin-Claims</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/dashboard/settings']">
          <i class="bx bx-cog"></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/settings']">Settings</a></li>
        </ul>
      </li>
      <!-- <li>
        <a [routerLink]="['/dashboard/claims']">
          <i class='bx bx-revision' ></i>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="['/dashboard/claims']">Refresh</a></li>
        </ul>
      </li> -->
    </ul>
  </div>
</mat-nav-list>


