

mat-toolbar {
  position: sticky;
  top: -30;
  z-index: 150;
}
ul li {
  list-style: none;
}
button {
  outline: none;
  border: 0;
  background: transparent;
}

.mat-icon-button{
  margin: 70px;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #f7f7f7;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.user-image-icon {
  height: 18px;
  font-size: 16px;
}
::ng-deep .mat-menu-content {
  width: 160px;
}
