
body {
    padding: 70px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    overflow-x: hidden;
    /* height: 100%; */
    background-color: #CFD8DC;
    background-repeat: no-repeat
}
