<body>
    <p>Choose your datetime:</p>
    <select
      (change)="changeOptionDate($event.target.value)"
      [(ngModel)]="date_selected"
      class="mdb-select md-form"
    >
      <option [value]="option.id" *ngFor="let option of date_SelectOptions">
        {{ option.name }}
      </option>
    </select>
  

  <div class="col-md-6 my-3">
    <select (change)="changeOptionSpot($event.target.value)"
    [(ngModel)]="spot_selected" class="mdb-select md-form">
    <option [value]="option.id" *ngFor="let option of spot_SelectOptions">
      {{ option.name }}
    </option>
    </select>
  </div>
  
    <div id="chartdiv_cup" style="width: 90%; height: 500px"></div>
  
  
  </body>
