<div class="container">
    <div class="page-wrap d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <span class="display-1 d-block">404</span>
            <div class="mb-4 lead">
              Oups! Il semblerait que la page que vous recherchiez n'existe pas...
            </div>
            <a href="/home" class="btn btn-link">Retour à l'accueil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
