<body>

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <form #claim="ngForm" (ngSubmit)="addClaim_WithUserService(claim)" class="border border-light p-5">

                <p class="h4 mb-4 text-center">Depose Claim</p>


                <input class="form-control mb-4" [(ngModel)]="claim.title" name="title" type="text"
                    placeholder="title of claim">

                <select [(ngModel)]="claim.categoryclaim" name="categoryclaim" class="form-control mb-4" id="category"
                    placeholder="category of claim">
                    <!-- <option value="" disabled="" selected="">category of claim</option> -->
                    <!-- <option [value]="values" *ngFor="let values of getKeys(category)">{{ category[values] }}</option> -->
                    <option value="CHARTS">Charts</option>
                    <option value="MAPS">Maps</option>
                    <option value="DASHBOARD">Dashboard</option>
                    <option value="HOTELS">Hotels</option>
                    <option value="INTERFACE">Interface</option>
                    <option value="APPLICATION">Application</option>
                    <option value="ACCOUNT">Account</option>
                    <option value="OTHER">Other</option>
                </select>

                <textarea [(ngModel)]="claim.description" name="description" class="form-control rounded-0"
                    id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save
                        Claim</button></div>
                <!-- <div class="custom-control custom-checkbox mb-4">
                            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
                            <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
                        </div> -->
            </form>

        </div>
    </div>

</body>