@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700display=swap");

* {
  margin: 20px;
  padding: 20px;;
  font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    height: 100%;
    align-items: center;
  }
  
  .col{
    flex-basis: 88%;
  }
  
  
  p{
    color: #fff;
    font-size: 30px;
    line-height: 60px;
  }
  
  
  .card{
    width: 400px;
    height: 430px;
    display: inline-block;
    border-radius: 10px;
    padding: 30px 50px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    transition: transform 0.5s;
    
  }
/*   
  .card1{
    background-image: url(../../../assets/images/pic-1.png);
  }
  
  .card2{
    background-image: url(../../../assets/images/pic-2.png);
  }
  
  .card3{
    background-image: url(../../../assets/images/pic-3.png);
  }
  
  .card4{
    background-image: url(../../../assets/images/pic-4.png);
  } */
  
  .card:hover{
    transform: translateY(-10px);
  }
  
  h5{
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 5px #999;
  }
  
  .card p{
    text-shadow: 0 0 15px #000;
    font-size: 20px;
  }

  /* Table */

  .example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }