<div class="container">
    <div class="row">
      <div class="col">
        <div *ngIf="weatherofthedaybyspots[0].favorite_state == true" class="card card1">
          <h5>{{weatherofthedaybyspots[0].spot}}</h5>
          <p>{{weatherofthedaybyspots[0].temperature}}</p>
          <p>{{weatherofthedaybyspots[0].description}}</p>
        </div>
        <div *ngIf="weatherofthedaybyspots[0].favorite_state == true" class="card card2">
          <h5>{{weatherofthedaybyspots[1].spot}}</h5>
          <p>{{weatherofthedaybyspots[1].temperature}}</p>
          <p>{{weatherofthedaybyspots[1].description}}</p>
        </div>
        <div *ngIf="weatherofthedaybyspots[0].favorite_state == true" class="card card3">
          <h5>{{weatherofthedaybyspots[2].spot}}</h5>
          <p>{{weatherofthedaybyspots[2].temperature}}</p>
          <p>{{weatherofthedaybyspots[2].description}}</p>
        </div>
        <!-- <div class="card card4">
          <h5>Western Indonesia</h5>
          <p>This works!</p>
        </div> -->
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]=" weatherofthedaybyspots">
  
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let weatherofthedaybyspot"> {{weatherofthedaybyspot._id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Spot">
        <th mat-header-cell *matHeaderCellDef> Spot </th>
        <td mat-cell *matCellDef="let weatherofthedaybyspot"> {{weatherofthedaybyspot.spot}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let weatherofthedaybyspot"> {{weatherofthedaybyspot.country}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Movie">
        <th mat-header-cell *matHeaderCellDef> Movie </th>
        <td mat-cell *matCellDef="let weatherofthedaybyspot"> {{weatherofthedaybyspot.movie}} </td>
      </ng-container>

      <ng-container matColumnDef="Temperature">
        <th mat-header-cell *matHeaderCellDef> Temperature </th>
        <td mat-cell *matCellDef="let weatherofthedaybyspot"> {{weatherofthedaybyspot.temperature}} </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let weatherofthedaybyspot"> {{weatherofthedaybyspot.description}} </td>
      </ng-container>

      <ng-container matColumnDef="Favorite_State">
        <th mat-header-cell *matHeaderCellDef> Favorite_State </th>
        <td mat-cell *matCellDef="let weatherofthedaybyspot"> {{weatherofthedaybyspot.favorite_state}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-divider></mat-divider>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="forecastweatherfor7daysbyspots">
  
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot._id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Spot">
        <th mat-header-cell *matHeaderCellDef> Spot </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.spot}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.country}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Movie">
        <th mat-header-cell *matHeaderCellDef> Movie </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.movie}} </td>
      </ng-container>

      <ng-container matColumnDef="Date_0">
        <th mat-header-cell *matHeaderCellDef> Date_0 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[0].date_time}} </td>
      </ng-container>

      <ng-container matColumnDef="Temperature_0">
        <th mat-header-cell *matHeaderCellDef> Temperature_0 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[0].temp_day}} </td>
      </ng-container>

      <ng-container matColumnDef="Description_0">
        <th mat-header-cell *matHeaderCellDef> Description_0 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[0].description}} </td>
      </ng-container>

      <ng-container matColumnDef="Date_1">
        <th mat-header-cell *matHeaderCellDef> Date_1 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[1].date_time}} </td>
      </ng-container>

      <ng-container matColumnDef="Temperature_1">
        <th mat-header-cell *matHeaderCellDef> Temperature_1 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[1].temp_day}} </td>
      </ng-container>

      <ng-container matColumnDef="Description_1">
        <th mat-header-cell *matHeaderCellDef> Description_1 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[1].description}} </td>
      </ng-container>

      <ng-container matColumnDef="Date_2">
        <th mat-header-cell *matHeaderCellDef> Date_2 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[2].date_time}} </td>
      </ng-container>

      <ng-container matColumnDef="Temperature_2">
        <th mat-header-cell *matHeaderCellDef> Temperature_2 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[2].temp_day}} </td>
      </ng-container>

      <ng-container matColumnDef="Description_2">
        <th mat-header-cell *matHeaderCellDef> Description_2 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[2].description}} </td>
      </ng-container>

      <ng-container matColumnDef="Date_3">
        <th mat-header-cell *matHeaderCellDef> Date_3 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[3].date_time}} </td>
      </ng-container>

      <ng-container matColumnDef="Temperature_3">
        <th mat-header-cell *matHeaderCellDef> Temperature_3 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[3].temp_day}} </td>
      </ng-container>

      <ng-container matColumnDef="Description_3">
        <th mat-header-cell *matHeaderCellDef> Description_3 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[3].description}} </td>
      </ng-container>

      <ng-container matColumnDef="Date_4">
        <th mat-header-cell *matHeaderCellDef> Date_4 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[4].date_time}} </td>
      </ng-container>

      <ng-container matColumnDef="Temperature_4">
        <th mat-header-cell *matHeaderCellDef> Temperature_4 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[4].temp_day}} </td>
      </ng-container>

      <ng-container matColumnDef="Description_4">
        <th mat-header-cell *matHeaderCellDef> Description_4 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[4].description}} </td>
      </ng-container>

      <ng-container matColumnDef="Date_5">
        <th mat-header-cell *matHeaderCellDef> Date_5 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[5].date_time}} </td>
      </ng-container>

      <ng-container matColumnDef="Temperature_5">
        <th mat-header-cell *matHeaderCellDef> Temperature_5 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[5].temp_day}} </td>
      </ng-container>

      <ng-container matColumnDef="Description_5">
        <th mat-header-cell *matHeaderCellDef> Description_5 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[5].description}} </td>
      </ng-container>

      <ng-container matColumnDef="Date_6">
        <th mat-header-cell *matHeaderCellDef> Date_6 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[6].date_time}} </td>
      </ng-container>

      <ng-container matColumnDef="Temperature_6">
        <th mat-header-cell *matHeaderCellDef> Temperature_6 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[6].temp_day}} </td>
      </ng-container>

      <ng-container matColumnDef="Description_6">
        <th mat-header-cell *matHeaderCellDef> Description_6 </th>
        <td mat-cell *matCellDef="let forecastweatherfor7daysbyspot"> {{forecastweatherfor7daysbyspot.forecast_weather[6].description}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns_2; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns_2;"></tr>
    </table>
  </div>

  <mat-divider></mat-divider>
  
  <!-- <div class="container">
    <div class="row">
      <div class="col">
        <table>
          <tr>
            <th>ID</th>
            <th>Spot</th>
            <th>Country</th>
            <th>Movie</th>
            <th>Temperature</th>
            <th>Description</th>
            <th>Favorite_State</th>
          </tr>
          <tr *ngFor="let weatherofthedaybyspot of weatherofthedaybyspots">
            <td>{{ weatherofthedaybyspot._id }}</td>
            <td>{{ weatherofthedaybyspot.spot }}</td>
            <td>{{ weatherofthedaybyspot.country }}</td>
            <td>{{ weatherofthedaybyspot.movie }}</td>
            <td>{{ weatherofthedaybyspot.temperature }}</td>
            <td>{{ weatherofthedaybyspot.description }}</td>
            <td>{{ weatherofthedaybyspot.favorite_state }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div> -->
  
  <!-- <div class="container">
    <div class="row">
      <div class="col">
        <table>
          <tr>
            <th>ID</th>
            <th>Spot</th>
            <th>Country</th>
            <th>Movie</th>
            <th>Date_0</th>
            <th>Temperature_0</th>
            <th>Description_0</th>
            <th>Date_1</th>
            <th>Temperature_1</th>
            <th>Description_1</th>
            <th>Date_2</th>
            <th>Temperature_2</th>
            <th>Description_2</th>
            <th>Date_3</th>
            <th>Temperature_3</th>
            <th>Description_3</th>
            <th>Date_4</th>
            <th>Temperature_4</th>
            <th>Description_4</th>
            <th>Date_5</th>
            <th>Temperature_5</th>
            <th>Description_5</th>
            <th>Date_6</th>
            <th>Temperature_6</th>
            <th>Description_6</th>
            <th>Favorite_State</th>
          </tr>
          <tr *ngFor="let forecastweatherfor7daysbyspot of forecastweatherfor7daysbyspots">
            <td>{{ forecastweatherfor7daysbyspot._id }}</td>
            <td>{{ forecastweatherfor7daysbyspot.spot }}</td>
            <td>{{ forecastweatherfor7daysbyspot.country }}</td>
            <td>{{ forecastweatherfor7daysbyspot.movie }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[0].date_time }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[0].temp_day }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[0].description }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[1].date_time }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[1].temp_day }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[1].description }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[2].date_time }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[2].temp_day }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[2].description }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[3].date_time }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[3].temp_day }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[3].description }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[4].date_time }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[4].temp_day }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[4].description }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[5].date_time }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[5].temp_day }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[5].description }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[6].date_time }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[6].temp_day }}</td>
            <td>{{ forecastweatherfor7daysbyspot.forecast_weather[6].description }}</td>
            <td>{{ forecastweatherfor7daysbyspot.favorite_state }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div> -->
