<body>

    <h1>Table of Users</h1>
  
    <!-- <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="input-box">
              <input type="text" class="form-control" />
              <i class="fa fa-search"></i>
            </div>
            <div class="list border-bottom">
              <i class="fa fa-fire"></i>
              <div class="d-flex flex-column ml-3">
                <span>Client communication policy</span>
                <small>#politics - may - @max</small>
              </div>
            </div>
            <div class="list border-bottom">
              <i class="fa fa-yelp"></i>
              <div class="d-flex flex-column ml-3">
                <span>Major activity done</span>
                <small>#news - nov - @settings</small>
              </div>
            </div>
            <div class="list border-bottom">
              <i class="fa fa-fire"></i>
              <div class="d-flex flex-column ml-3">
                <span>Calling to USA Clients</span>
                <small>#entertainment - dec - @tunes</small>
              </div>
            </div>
            <div class="list">
              <i class="fa fa-weibo"></i>
              <div class="d-flex flex-column ml-3">
                <span>Client communication policy</span>
                <small>#politics - may - @max</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  
    <!-- <mat-divider></mat-divider> -->
  
    <table>
      <tr id="header">
        <th>UserId</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        <th>addressLine1</th>
        <th>addressLine2</th>
        <th>postalCode</th>
        <th>city</th>
        <th>deleteUser</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.id_user }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.addressLine1 }}</td>
        <td>{{ user.addressLine2 }}</td>
        <td>{{ user.postalCode }}</td>
        <td>{{ user.city }}</td>
        <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteUser_WithUserService(user.id_user)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
      </tr>
    </table>
  
    
  
    <div *ngIf="users?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO USERS!</h4>
        <p>No Users were found.</p>
      </div>
      </div>
  </body>
  
