body {
    background-color: #eee;
    padding: 70px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    background-color: #fff;
    padding: 15px;
    border: none
}

.input-box {
    position: relative
}

.input-box i {
    position: absolute;
    right: 13px;
    top: 15px;
    color: #ced4da
}

.form-control {
    height: 50px;
    background-color: #eeeeee69
}

.form-control:focus {
    background-color: #eeeeee69;
    box-shadow: none;
    border-color: #eee
}

.list {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center
}

.border-bottom {
    border-bottom: 2px solid #eee
}

.list i {
    font-size: 19px;
    color: red
}

.list small {
    color: #dedddd
}

/* body {
    padding: 70px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#header {
    background-color: #118074;
    color: #fff;
}

h1 {
    font-weight: 600;
    text-align: center;
    background-color: #118074;
    color: #fff;
    padding: 10px 0px;
}

tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}

/* .btn {
    display: inline-block;
    margin-top: 1%;
    margin-right: 3%;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color:#118074;
    color: #ffffff;
    border-radius: 0.5rem;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
  }
  
  .btn:hover {
    background: #ddd;
    color: black;
  }
  
  .btn-icon {
    font-size: 25px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .fas{
      color: gold;
  } */
