
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form #loginForm="ngForm" (ngSubmit)="login()" class="sign-in-form">
            <!-- {{loginForm.form.valid}} -->
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Enter your username" name="loginUsername"
              [(ngModel)]="user.userName" #loginUsername="ngModel" [class.is-invalid]="loginUsername.invalid && loginUsername.touched" required/>
            </div>
            <small class="text-danger"[class.d-none]="loginUsername.valid || loginUsername.untouched">*Username is required field</small>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter your password" name="loginPwd"
              [(ngModel)]="user.password" #loginPassword="ngModel" [class.is-invalid]="loginPassword.invalid && loginPassword.touched" required/>
            </div>
            <small class="text-danger"[class.d-none]="loginPassword.valid || loginPassword.untouched">*Password is required field</small>
            <button [disabled]="loginForm.form.invalid" type="submit" class="btn solid">Login</button>
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>

          <form #registerForm="ngForm" (ngSubmit)="register()" class="sign-up-form">
            <small class="text-danger">{{msg}}</small>
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Enter your username" name="username" [(ngModel)]="user.userName"
              #registerUsername="ngModel" [class.is-invalid]="registerUsername.invalid && registerUsername.touched" required/>
            </div>
            <div *ngIf="registerUsername.errors && (registerUsername.invalid && registerUsername.touched)">
              <small class="text-danger" [class.d-none]="registerUsername.valid || registerUsername.untouched">*Username is required
                field</small>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Enter your email" name="email" [(ngModel)]="user.email" 
              #registerEmail="ngModel" [class.is-invalid]="registerEmail.invalid && registerEmail.touched" required
              pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"/>
            </div>
            <div *ngIf="registerEmail.errors && (registerEmail.invalid && registerEmail.touched)">
              <small class="text-danger" *ngIf="registerEmail.errors.required">*Email is required field</small>
              <small class="text-danger" *ngIf="registerEmail.errors.pattern">*Enter the valid email address</small>
            </div>
            <div class="input-field">
              <i class="fa fa-phone"></i>
              <input type="tel" placeholder="Enter your phone number" name="phone" [(ngModel)]="user.phone"
              #registerPhone="ngModel"/>
            </div>
            <div *ngIf="registerPhone.untouched || registerPhone.empty">
              <small class="text-success">*(Optionnal)</small>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter your password" name="password" [(ngModel)]="user.password"
              #registerPassword="ngModel" [class.is-invalid]="registerPassword.invalid && registerPassword.touched" required />
            </div>
            <div>
              <small class="text-danger" [class.d-none]="registerPassword.valid || registerPassword.untouched">*Password is required
                field</small>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Confirm your password" name="cpassword"
              #registerCPassword="ngModel" (ngModel)="user.password" [class.is-invalid]="registerCPassword.invalid && registerCPassword.touched" required />
            </div>
            <div>
              <small class="text-danger" [class.d-none]="(registerCPassword.value == registerPassword.value) || registerCPassword.untouched">*Password
                & confirm password must be same</small>
            </div>
            <button [disabled]="registerForm.form.invalid" type="submit" class="btn">Register</button>
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Not yet registered ?</h3>
            <br>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="..\assets\images\login.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Already one of us ?</h3>
            <br>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="..\assets\images\register.svg" class="image" alt="" />
        </div>
      </div>
    </div>


