<body>

    <h1>Table of Claims</h1>
  
    <!-- <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="input-box">
              <input type="text" class="form-control" />
              <i class="fa fa-search"></i>
            </div>
            <div class="list border-bottom">
              <i class="fa fa-fire"></i>
              <div class="d-flex flex-column ml-3">
                <span>Client communication policy</span>
                <small>#politics - may - @max</small>
              </div>
            </div>
            <div class="list border-bottom">
              <i class="fa fa-yelp"></i>
              <div class="d-flex flex-column ml-3">
                <span>Major activity done</span>
                <small>#news - nov - @settings</small>
              </div>
            </div>
            <div class="list border-bottom">
              <i class="fa fa-fire"></i>
              <div class="d-flex flex-column ml-3">
                <span>Calling to USA Clients</span>
                <small>#entertainment - dec - @tunes</small>
              </div>
            </div>
            <div class="list">
              <i class="fa fa-weibo"></i>
              <div class="d-flex flex-column ml-3">
                <span>Client communication policy</span>
                <small>#politics - may - @max</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  
    
  
    <mat-divider></mat-divider>
  
    <table>
  
      <tr id="header">
        <th>ClaimId</th>
        <th>Title</th>
        <th>Description</th>
        <th>CategoryOfClaim</th>
        <th>StatusClaim</th>
        <th>UserId</th>
        <th>UserName</th>
        <th>ChangeStatus</th>
      </tr>
      <tr *ngFor="let claim of claims">
        <td>{{ claim.id_claim }}</td>
        <td>{{ claim.title }}</td>
        <td>{{ claim.description }}</td>
        <td>{{ claim.categoryClaim }}</td>
        <td>{{ claim.statusClaim }}</td>
        <td>{{ claim.user.id_user }}</td>
        <td>{{ claim.user.userName }}</td>
        <td *ngIf="claim.statusClaim == 'PENDING'" class="text-center"><button class="btn btn-danger btn-xs" (click)="changeStatusClaimDuringTreatment_WithUserService(claim.id_claim, claim)"><span class="glyphicon glyphicon-remove"></span> Change status to during</button></td>
        <td *ngIf="claim.statusClaim == 'DURINGTREATMENT'" class="text-center"><button class="btn btn-danger btn-xs" (click)="changeStatusClaimProcessed_WithUserService(claim.id_claim, claim)"><span class="glyphicon glyphicon-remove"></span> Change status to processed</button></td>
        <td *ngIf="claim.statusClaim == 'PROCESSED'" class="text-center">Final status</td>
      </tr>
    </table>
  
    <div *ngIf="claims?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO CLAIMS!</h4>
        <p>No Claims were found.</p>
      </div>
      </div>
  </body>
  
