<body>
  <h1>Hotels: Dubrovnik</h1>
  <hr />
  

<div class="row row-cols-1 row-cols-md-4">
  <div class="col mb-4" *ngFor="let hotels of data_hotels_Dubrovnik">
    
    <div class="card booking-card">

      
      <div class="view overlay">
        <img class="card-img-top" src="https://hippiefish-mykonos.com/wp-content/uploads/2016/01/hippie-chic-hotel1.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    
      <div class="card-body">
    
        <h4 class="card-title font-weight-bold"><a><strong>{{hotels.name}}</strong></a></h4>

        <ul class="list-unstyled list-inline rating mb-0">
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 0 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 1 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 2 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 3 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 4 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
         
          <li class="list-inline-item"><p class="text-muted">{{hotels.starRating}} ({{hotels.guestReviews}})</p></li>
        </ul>
        <p class="mb-2"><i class='bx bx-current-location'></i> streetAddress: {{hotels.streetAddress}}</p>
        <p class="mb-2"><i class='bx bx-building-house'></i> postalCode: {{hotels.postalCode}}</p>
        <p class="mb-2"><i class='bx bx-world'></i> locality: {{hotels.locality}}</p>
        <p class="mb-2"><i class='bx bx-landscape'></i> distance between Hotel and Spot: {{hotels.distanceBetweenSpotAndHotel}} km</p>

        <hr class="my-4">
        <div class="progress md-progress" style="height: 20px">
          <div class="progress-bar" role="progressbar" style="height: 20px" [style.width]="hotels.percent+'%'" [attr.aria-valuenow]="hotels.percent" aria-valuemin="0" aria-valvaluemax="100">{{hotels.percent}} %</div>
        </div>
        <!-- <a class="btn" (click)="saveHotel(hotels)" >Save Hotel <i class='btn-icon bx bxs-exit'></i></a> -->
      </div>
    
    </div>
  </div>
</div>

<hr>

<h1>Hotels: Tongariro</h1>
  <hr />

<div class="row row-cols-1 row-cols-md-4">
  <div class="col mb-4" *ngFor="let hotels of data_hotels_Tongariro">
    
    <div class="card booking-card">

      
      <div class="view overlay">
        <img class="card-img-top" src="https://hippiefish-mykonos.com/wp-content/uploads/2016/01/hippie-chic-hotel1.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    
      <div class="card-body">
    
        <h4 class="card-title font-weight-bold"><a><strong>{{hotels.name}}</strong></a></h4>

        <ul class="list-unstyled list-inline rating mb-0">
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 0 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 1 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 2 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 3 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 4 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
         
          <li class="list-inline-item"><p class="text-muted">{{hotels.starRating}} ({{hotels.guestReviews}})</p></li>
        </ul>
        <p class="mb-2"><i class='bx bx-current-location'></i> streetAddress: {{hotels.streetAddress}}</p>
        <p class="mb-2"><i class='bx bx-building-house'></i> postalCode: {{hotels.postalCode}}</p>
        <p class="mb-2"><i class='bx bx-world'></i> locality: {{hotels.locality}}</p>
        <p class="mb-2"><i class='bx bx-landscape'></i> distance between Hotel and Spot: {{hotels.distanceBetweenSpotAndHotel}} km</p>
        

        <hr class="my-4">
        <div class="progress md-progress" style="height: 20px">
          <div class="progress-bar" role="progressbar" style="height: 20px" [style.width]="hotels.percent+'%'" [attr.aria-valuenow]="hotels.percent" aria-valuemin="0" aria-valvaluemax="100">{{hotels.percent}} %</div>
        </div>
         <!-- <a class="btn" (click)="saveHotel(hotels)" >Save Hotel <i class='btn-icon bx bxs-exit'></i></a> -->
      </div>
    
    </div>
  </div>
</div>

<hr>

<h1>Hotels: Matmata</h1>
  <hr />

<div class="row row-cols-1 row-cols-md-4">
  <div class="col mb-4" *ngFor="let hotels of data_hotels_Tongariro">
    
    <div class="card booking-card">

      
      <div class="view overlay">
        <img class="card-img-top" src="https://hippiefish-mykonos.com/wp-content/uploads/2016/01/hippie-chic-hotel1.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    
      <div class="card-body">
        
        <h4 class="card-title font-weight-bold"><a><strong>{{hotels.name}}</strong></a></h4>

        <ul class="list-unstyled list-inline rating mb-0">
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 0 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 1 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 2 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 3 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
          <li class="list-inline-item mr-0"><i [ngClass]="hotels.starRating > 4 ? 'fas fa-star amber-text' : 'fa fa-star-o amber-text'"> </i></li>
         
          <li class="list-inline-item"><p class="text-muted">{{hotels.starRating}} ({{hotels.guestReviews}})</p></li>
        </ul>
        <p class="mb-2"><i class='bx bx-current-location'></i> streetAddress: {{hotels.streetAddress}}</p>
        <p class="mb-2"><i class='bx bx-building-house'></i> postalCode: {{hotels.postalCode}}</p>
        <p class="mb-2"><i class='bx bx-world'></i> locality: {{hotels.locality}}</p>
        <p class="mb-2"><i class='bx bx-landscape'></i> distance between Hotel and Spot: {{hotels.distanceBetweenSpotAndHotel}} km</p>
        

        <hr class="my-4">
        <div class="progress md-progress" style="height: 20px">
          <div class="progress-bar" role="progressbar" style="height: 20px" [style.width]="hotels.percent+'%'" [attr.aria-valuenow]="hotels.percent" aria-valuemin="0" aria-valvaluemax="100">{{hotels.percent}} %</div>
        </div>
        <!-- <a class="btn" (click)="saveHotel(hotels)">Save Hotel <i class='btn-icon bx bxs-exit'></i></a> -->
      </div>
    
    </div>
  </div>
</div>

  
</body>
