body {
    padding: 70px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eee;
}

#header {
    background-color: #118074;
    color: #fff;
}

h1 {
    font-weight: 600;
    text-align: center;
    background-color: #118074;
    color: #fff;
    padding: 10px 0px;
}



.btn {
    display: inline-block;
    margin-top: 1%;
    margin-right: 3%;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color:#118074;
    color: #ffffff;
    border-radius: 0.5rem;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
  }
  
  .btn:hover {
    background: #ddd;
    color: black;
  }
  
  .btn-icon {
    font-size: 25px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .fas{
      color: gold;
  }