<body>
<p>Choose your datetime:</p>
      <select (change)="changeOption($event.target.value)" [(ngModel)]="selected" class="mdb-select md-form">
        <!-- <option disabled selected>Choose your datetime:</option> -->
        <option [value]="option.id" *ngFor="let option of selectOptions" >{{option.name}}</option>
      </select>
     
    <div id="chartdiv_map" style="width: 100%; height: 800px"></div>
    
    <!-- <h1>{{datetime}}</h1> -->

</body>
