<body>
  <p>Choose your datetime:</p>
  <select
    (change)="changeOptionDate($event.target.value)"
    [(ngModel)]="date_selected"
    class="mdb-select md-form"
  >
    <option [value]="option.id" *ngFor="let option of date_SelectOptions">
      {{ option.name }}
    </option>
  </select>

  <select
  (change)="changeOptionSpot($event.target.value)"
  [(ngModel)]="spot_selected"
  class="mdb-select md-form"
>
  <option [value]="option.id" *ngFor="let option of spot_SelectOptions">
    {{ option.name }}
  </option>
</select>

  <div id="chartdiv_jauge" style="width: 100%; height: 500px"></div>


 


</body>

<!--  
<div class="card weather-card">

  
  <div class="card-body pb-3">

    
    <h4 class="card-title font-weight-bold">{{weather_card.spot}}</h4>
   
    <p class="card-text">{{weather_card.date}}, {{weather_card.description}}</p>
    <div class="d-flex justify-content-between">
      <p class="display-1 degree">23</p>
      <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
    </div>
    <div class="d-flex justify-content-between mb-4">
      <p><i class="fas fa-tint fa-lg text-info pr-2"></i>{{weather_card.hum}}% Precipitation</p>
      <p><i class="fas fa-leaf fa-lg grey-text pr-2"></i>{{weather_card.wind}} km/h Winds</p>
    </div>

    <div class="collapse-content">

      <div class="collapse" id="collapseExample">

        <table class="table table-borderless table-sm mb-0">
          <tbody>
            <tr>
              <td class="font-weight-normal align-middle">Tuesday</td>
              <td class="float-right font-weight-normal">
                <p class="mb-1">24&deg;<span class="text-muted">/12&deg;</span></p>
              </td>
              <td class="float-right mr-3">
                <i class="fas fa-sun fa-lg amber-text"></i>
              </td>
            </tr>
            <tr>
              <td class="font-weight-normal align-middle">Wednesday</td>
              <td class="float-right font-weight-normal">
                <p class="mb-1">19&deg;<span class="text-muted">/10&deg;</span></p>
              </td>
              <td class="float-right mr-3">
                <i class="fas fa-cloud-sun-rain fa-lg text-info"></i>
              </td>
            </tr>
            <tr>
              <td class="font-weight-normal align-middle">Thursday</td>
              <td class="float-right font-weight-normal">
                <p class="mb-1">23&deg;<span class="text-muted">/15&deg;</span></p>
              </td>
              <td class="float-right mr-3">
                <i class="fas fa-sun fa-lg amber-text"></i>
              </td>
            </tr>
            <tr>
              <td class="font-weight-normal align-middle">Friday</td>
              <td class="float-right font-weight-normal">
                <p class="mb-1">26&deg;<span class="text-muted">/19&deg;</span></p>
              </td>
              <td class="float-right mr-3">
                <i class="fas fa-sun fa-lg amber-text"></i>
              </td>
            </tr>
            <tr>
              <td class="font-weight-normal align-middle">Saturday</td>
              <td class="float-right font-weight-normal">
                <p class="mb-1">20&deg;<span class="text-muted">/16&deg;</span></p>
              </td>
              <td class="float-right mr-3">
                <i class="fas fa-cloud fa-lg text-info"></i>
              </td>
            </tr>
            <tr>
              <td class="font-weight-normal align-middle">Sunday</td>
              <td class="float-right font-weight-normal">
                <p class="mb-1">22&deg;<span class="text-muted">/13&deg;</span></p>
              </td>
              <td class="float-right mr-3">
                <i class="fas fa-cloud-sun fa-lg text-info"></i>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <hr class="">

        <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 deep-purple-text collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>

    </div>

  </div>

</div> -->
