<body>
    <!--========== HEADER ==========-->
    <header class="header">
        <nav class="nav bd-container">
            <a [routerLink]="['/slider-spots']" class="nav__logo"><i class='bx bx-video-recording'></i> MSW (Movie-Spot-Weather)</a>
            
            <div class="nav__menu" id="nav-menu" [class.show-menu]="showMenu">
                <ul class="nav__list">
                    <li class="nav__item"><a [routerLink]="['/home']" class="nav__link"><i class='bx bx-film' ></i> The Concept</a></li>
                    <li class="nav__item"><a [routerLink]="['/dashboard/chart-temp-daily']" class="nav__link"><i class='bx bx-cloud-snow'></i> Weather Forecast</a></li>
                    <li class="nav__item"><a [routerLink]="['/dashboard/map-weather']" class="nav__link"><i class='bx bx-map-alt'></i> Map Weather</a></li>
                    <li class="nav__item"><a [routerLink]="['/dashboard/hotels']" class="nav__link"><i class='bx bx-cloud-snow'></i> Top SPot</a></li>
                    <!-- <li class="nav__item"><a [routerLink]="['/registration-login']" class="nav__link"><i class='bx bx-user'></i> Login</a></li> -->
                </ul>
            </div>
            
            <div class="nav__toggle" id="nav-toggle" click="onToggleClick()">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <!--========== MAIN ==========-->
    <main *ngIf="forecastweatherfor7daysbyspots" class='main'>
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <!--========== SPOT 1 ==========-->
                <section [hidden]="currentSpot !== 'Dubrovnik'" class="islands swiper-slide">
                    <div id="slider">
                        <img src="../assets/images/Dubrovnik_r_1.jpg" class="islands__bg">
                    </div>
                    

                    <div class="islands__container bd-container">
                        <div class="islands__data">
                            <h2 class="islands__subtitle">{{forecastweatherfor7daysbyspots[1].country}}</h2>
                            <br>
                            <br>
                            <h1 class="islands__title">{{forecastweatherfor7daysbyspots[1].spot}}</h1>
                            <br>
                            <br>
                            <p class="islands__description">Series: Games of Thrones - King's Landing</p>
                            <a class="islands__button" (click)="isVisibleFavorite1_WithUserService()">Add to favorites <i class='bx bx-heart islands__button-icon'></i></a>
                        </div>

                        <div class="islands__video">
                            <div class="islands__video-content" (click)="onTogglePopUp()">
                                <i class='bx bx-play-circle islands__video-icon'></i>
                            </div>
                        </div> 
                    </div>
                </section>
    
                <!--========== SPOT 2 ==========-->
                <section [hidden]="currentSpot !== 'Matmata'" class="islands swiper-slide">
                    <img src="../assets/images/Matmata_r_1.jpg" class="islands__bg">

                    <div class="islands__container bd-container">
                        <div class="islands__data">
                            <h2 class="islands__subtitle">{{forecastweatherfor7daysbyspots[2].country}}</h2>
                            <br>
                            <br>
                            <h1 class="islands__title">{{forecastweatherfor7daysbyspots[2].spot}}</h1>
                            <br>
                            <br>
                            <p class="islands__description">Movie: Star Wars - Tatooine</p>
                            <a class="islands__button" (click)="isVisibleFavorite2_WithUserService()">Add to favorites <i class='bx bx-heart islands__button-icon'></i></a>
                        </div>

                        <div class="islands__video">
                            <div class="islands__video-content" (click)="onTogglePopUp()">
                                <i class='bx bx-play-circle islands__video-icon'></i>
                            </div>
                        </div>  
                    </div>
                </section>
                
                <!--========== SPOT 3 ==========-->
                <section [hidden]="currentSpot !== 'Tongariro'" class="islands swiper-slide">
                    <img src="../assets/images/Tongariro_r_2.jpg" class="islands__bg">

                    <div class="islands__container bd-container">
                        <div class="islands__data">
                            <h2 class="islands__subtitle">{{forecastweatherfor7daysbyspots[0].country}}</h2>
                            <br>
                            <br>
                            <h1 class="islands__title">{{forecastweatherfor7daysbyspots[0].spot}}</h1>
                            <br>
                            <br>
                            <p class="islands__description">Movie: Lord of the Rings - Destiny's Mountains</p>
                            <a class="islands__button" (click)="isVisibleFavorite0_WithUserService()">Add to favorites <i class='bx bx-heart islands__button-icon'></i></a>
                        </div>

                        <div class="islands__video">
                            <div class="islands__video-content" (click)="onTogglePopUp()">
                                <i class='bx bx-play-circle islands__video-icon'></i>
                            </div>
                        </div>
                    </div>
                </section>

                <!--========== SPOT POPUP ==========-->
                <div class="islands__popup" id="popup" [class.show-popup]="showPopUp">
                    <div>
                        <div class="islands__popup-close" id="popup-close" (click)="showPopUp=false">
                            <i class='bx bx-x'></i>
                        </div>
                        <h4>The spot in real life: </h4>
                        <div>
                            <iframe class="islands__popup-video" [src]="iframe_src1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <h4>The spot through a camera: </h4>
                        <div>
                            <iframe class="islands__popup-video" [src]="iframe_src2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!--========== CONTROLS ==========-->
        <div class="controls gallery-thumbs">
            <div class="controls__container swiper-wrapper" id="img-control" >
                <img id="dubrovnik" src="../assets/images/Dubrovnik_r_1.jpg" class="controls__img swiper-slide" (click)="onDubrovnikClick()">
                <img id="matmata" src="../assets/images/Matmata_r_1.jpg" class="controls__img swiper-slide" (click)="onMatmataClick()">
                <img id="tongariro" src="../assets/images/Tongariro_r_2.jpg" class="controls__img swiper-slide" (click)="onTongariroClick()">
            </div>
        </div>
    </main>
</body>

