<body>
    <select
    (change)="changeOptionSpot($event.target.value)"
    [(ngModel)]="spot_selected"
    class="mdb-select md-form"
  >
    <option [value]="option.id" *ngFor="let option of spot_SelectOptions">
      {{ option.name }}
    </option>
  </select>
  
    <div id="chartdiv_chart" style="width: 100%; height: 700px"></div>
  
  </body>
