<div class="container rounded bg-white ">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <form (ngSubmit)="updateUser_WithUserService()">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text" [(ngModel)]="userService.currentUser.userName" name="userName" class="form-control" placeholder="surname" readonly></div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" [(ngModel)]="userService.currentUser.phone" name="phone" class="form-control" placeholder="enter phone number" ></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" [(ngModel)]="userService.currentUser.email" name="email" class="form-control" placeholder="enter email "></div>
                    </div>
                    <hr>
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" [(ngModel)]="userService.currentUser.addressLine1" name="addressLine1" class="form-control" placeholder="enter address line 1" ></div>
                        <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" [(ngModel)]="userService.currentUser.addressLine2" name="addressLine2" class="form-control" placeholder="enter address line 2" ></div>
                        <div class="col-md-12"><label class="labels">Postcode</label><input type="text" [(ngModel)]="userService.currentUser.postalCode" name="postalCode" class="form-control" placeholder="enter postalCode"></div>
                        <div class="col-md-12"><label class="labels">City</label><input type="text" [(ngModel)]="userService.currentUser.city" name="city" class="form-control" placeholder="enter city" ></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Changes</button></div>
                </form>

                <form #changePasswordForm="ngForm" (ngSubmit)="updatePassword_WithUserService(userService.currentUser)">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Change Password</h4>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Password</label><input type="password" placeholder="Enter your password" name="password" class="form-control" [(ngModel)]="userService.currentUser.password"
                            #changePassword="ngModel" [class.is-invalid]="changePassword.invalid && changePassword.touched" required />
                        </div>
                        <div>
                            <small class="text-danger" [class.d-none]="changePassword.valid || changePassword.untouched">*Password is required
                              field</small>
                          </div>
                        <div class="col-md-12"><label class="labels">Password</label><input type="password" placeholder="Confirm your password" name="cpassword" class="form-control"
                            #changeCPassword="ngModel" (ngModel)="userService.currentUser.password" [class.is-invalid]="changeCPassword.invalid && changeCPassword.touched" required />
                        </div>
                        <div>
                            <small class="text-danger" [class.d-none]="(changeCPassword.value == changePassword.value) || changeCPassword.untouched">*Password
                              & confirm password must be same</small>
                          </div>
                    </div>
                    <div class="mt-5 text-center"><button [disabled]="changePasswordForm.form.invalid" class="btn btn-primary profile-button" type="submit">Save New Passwords</button></div>
                </form>
            
            </div>
            
        </div>
    </div>
</div>

