<body>
    <header class="fix">
        <video autoplay id="homeVideo">
            <source src="..\assets\video\home.mp4" type="video/mp4">
        </video>

        <div *ngIf="video_time_text1 == true" class="banner-text">
            <h2>You are <span> addict of movies or series ?</span></h2>
        </div>

        <div *ngIf="video_time_text2 == true" class="banner-text">
            <h2>You are <span>fascinated by the</span></h2>
            <br>
            <h2><span> behind-the-scenes</span></h2>
            <br>
            <h2><span> of filming locations ?</span></h2>
        </div>

        <div *ngIf="video_time_text3 == true" class="banner-text">
            <h2>You like <span>to travel and discover</span></h2>
            <br>
            <h2><span>unusual places?</span></h2>
        </div>

        <div *ngIf="video_time_text4 == true" class="banner-text">
            <h2>But...</h2>
        </div>

        <div *ngIf="video_time_text5 == true" class="banner-text">
            <h2>You want <span>to visit them</span></h2>
            <br>
            <h2><span>in optimal weather conditions?</span></h2>
        </div>

        <div *ngIf="video_time_text6 == true" class="banner-text">
            <h2>So...</h2>
        </div>

        <div *ngIf="video_time_text7 == true" class="banner-text-final">
            <h2>Welcome to <i class='bx bx-video-recording'></i>MSW</h2>
            <br>
            <h2><span>(Movie-Spot-Weather)</span></h2>
            <br>
            <p>The website that explores your films</p>
            <!-- <button class="btn"[routerLink]="['/home']"> Explore</button> -->
            <a class="btn" [routerLink]="['/slider-spots']">Explore the spots <i class='bx bxs-exit'></i></a>
        </div>
    </header>

    
      
      <div class="content">
        <p>Video Options</p>
        <!-- <p>Lorem ipsum...</p> -->
        <!-- <button id="myBtn">Pause</button> -->
        <a class="btn" id="BtnPausePlay"><i id="IconPause" class='bx bx-pause-circle btn-icon'></i> Pause </a>
        <a class="btn" id="BtnVolume"><i id="IconVolume" class='bx bx-volume-mute btn-icon'></i> Muted </a>
      </div>
</body>

