body {
  margin: 0;
  padding: 0;
  font-family: poppins;
}


#homeVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.content {
  position: absolute;
  bottom: 2%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 18px;
}


.fix {
  clear: both;
  overflow: hidden;
}

header {
  overflow: hidden;
  height: 100vh;
}

.banner-text {
  position: absolute;
  top: 15%;
  text-align: center;
  left: 30%;
}

.banner-text h2 {
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.banner-text h2 span {
  color: #0f4640;
}

.banner-text-final {
  position: absolute;
  top: 15%;
  text-align: center;
  left: 15%;
}

.banner-text-final h2 {
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.banner-text-final h2 span {
  color: #118074;
}

.banner-text-final p {
  color: #fff;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}


.btn {
  display: inline-block;
  margin-top: 1%;
  margin-right: 3%;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color:#118074;
  color: #ffffff;
  border-radius: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
}

.btn:hover {
  background: #ddd;
  color: black;
}

.btn-icon {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
