<body>

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
  
      <div *ngIf="isVisible0" class="card booking-card">
        <div class="view overlay">
          <img class="card-img-top" src="../../assets/images/Tongariro_r_2.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          
          <h4 class="card-title font-weight-bold"><a><strong>{{forecastweatherfor7daysbyspots[0].spot}}</strong></a></h4>
          <p class="mb-2"><i class='bx bx-world'></i> country: {{forecastweatherfor7daysbyspots[0].country}}</p>
          <p class="mb-2"><i class='bx bx-movie-play' ></i> movie: {{forecastweatherfor7daysbyspots[0].movie}}</p>
          <hr class="my-4">
          <a class="btn" (click)="isNotVisibleFavorite0_WithUserService()">Delete to favorites <i class='bx bx-heart' ></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
  
      <div *ngIf="isVisible1" class="card booking-card">
        <div class="view overlay">
          <img class="card-img-top" src="../../assets/images/Dubrovnik_r_1.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          
          <h4 class="card-title font-weight-bold"><a><strong>{{forecastweatherfor7daysbyspots[1].spot}}</strong></a></h4>
          <p class="mb-2"><i class='bx bx-world'></i> country: {{forecastweatherfor7daysbyspots[1].country}}</p>
          <p class="mb-2"><i class='bx bx-movie-play' ></i> movie: {{forecastweatherfor7daysbyspots[1].movie}}</p>
          <hr class="my-4">
          <a class="btn" (click)="isNotVisibleFavorite1_WithUserService()">Delete to favorites <i class='bx bx-heart' ></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
  
      <div *ngIf="isVisible2" class="card booking-card">
    <div class="view overlay">
      <img class="card-img-top" src="../../assets/images/Matmata_r_1.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <div class="card-body">
      
      <h4 class="card-title font-weight-bold"><a><strong>{{forecastweatherfor7daysbyspots[2].spot}}</strong></a></h4>
      <p class="mb-2"><i class='bx bx-world'></i> country: {{forecastweatherfor7daysbyspots[2].country}}</p>
          <p class="mb-2"><i class='bx bx-movie-play' ></i> movie: {{forecastweatherfor7daysbyspots[2].movie}}</p>
      <hr class="my-4">
      <a class="btn" (click)="isNotVisibleFavorite2_WithUserService()">Delete to favorites <i class='bx bx-heart' ></i></a>
    </div>
  </div>

    </div>
  </div>

  

  
</body>






<!-- <div *ngIf="isVisible0" class="card card-cascade wider reverse">

  <div class="view view-cascade overlay">
    <img
      class="card-img-top"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
      alt="Card image cap"
    />
      <div class="mask rgba-white-slight"></div>
  </div>

 
  <div class="card-body card-body-cascade text-center">

    <h4 class="card-title"><strong>{{forecastweatherfor7daysbyspots[0].spot}}</strong></h4>

    <h6 class="font-weight-bold indigo-text py-2">{{forecastweatherfor7daysbyspots[0].country}}</h6>

    <p class="card-text">
      {{forecastweatherfor7daysbyspots[0].movie}}
    </p>

    <button (click)="isNotVisibleFavorite0_WithUserService()">Delete to favorites <i class='bx bx-heart islands__button-icon'></i></button>
  </div>
</div>


<hr>


<div *ngIf="isVisible1" class="card card-cascade wider reverse">

  <div class="view view-cascade overlay">
    <img
      class="card-img-top"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
      alt="Card image cap"
    />
      <div class="mask rgba-white-slight"></div>
  </div>


  <div class="card-body card-body-cascade text-center">
  
    <h4 class="card-title"><strong>{{forecastweatherfor7daysbyspots[1].spot}}</strong></h4>
  
    <h6 class="font-weight-bold indigo-text py-2">{{forecastweatherfor7daysbyspots[1].country}}</h6>

    <p class="card-text">
        {{forecastweatherfor7daysbyspots[1].movie}}
    </p>

    <button (click)="isNotVisibleFavorite1_WithUserService()">Delete to favorites <i class='bx bx-heart islands__button-icon'></i></button>
  </div>
</div>

<hr>
<div *ngIf="isVisible2" class="card card-cascade wider reverse">
  <div class="view view-cascade overlay">
    <img
      class="card-img-top"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
      alt="Card image cap"
    />
      <div class="mask rgba-white-slight"></div>
  </div>

  <div class="card-body card-body-cascade text-center">
    <h4 class="card-title"><strong>{{forecastweatherfor7daysbyspots[2].spot}}</strong></h4>

    <h6 class="font-weight-bold indigo-text py-2">{{forecastweatherfor7daysbyspots[2].country}}</h6>
  
    <p class="card-text">
      {{forecastweatherfor7daysbyspots[2].movie}}
    </p>

    <button (click)="isNotVisibleFavorite2_WithUserService()">Delete to favorites <i class='bx bx-heart islands__button-icon'></i></button>
  </div>
</div> -->



